{% extends 'base.html.twig' %}


{% block title %} Article {% endblock %}

{% block body %}
<div class="container">
    <div class="row">

        <div class=" col-12 col-lg-6 text-center mx-auto">
            <div class="card">
                <img class="card-img-top w-25 mx-auto" src="{{reponse[0].image_url}}" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">{{reponse[0].name}}</h5>
                    <p class="card-text">{{reponse[0].description}}</p>                    
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}